language: python

python:
  - "2.6"
  - "2.7"
  - "3.4"

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y pandoc

install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - python setup.py install

script:
  - python setup.py test
  - find -type f -name "*.py" | grep -v docs | xargs pep8 --ignore=E402
  - find -type f -name "*.py" | grep -v docs | xargs pyflakes
  - sphinx-apidoc -A "Tom Kralidis" -F -o docs pywoudc
  - cd docs && make html
  - cd ..

after_success:
  - coverage run --source pywoudc setup.py test
  - coverage report -m
