Source: python3-pywoudc
Section: python
Priority: optional
Maintainer: WOUDC <woudc@ec.gc.ca>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools
Standards-Version: 4.3.0
Vcs-Git: https://github.com/woudc/pywoudc.git

Package: python-pywoudc
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-owslib, python3-click, python3-prettytable
Homepage: https://woudc.org
Description: pywoudc is a high level package providing Pythonic access
 to WOUDC data services.
