Source: woudc-pywoudc
Section: python
Priority: optional
Maintainer: WOUDC <ec.woudc.ec@canada.ca>
Build-Depends: debhelper (>= 9), python, python-setuptools
Standards-Version: 3.9.5
X-Python-Version: >= 2.7
Vcs-Git: https://github.com/woudc/pywoudc.git

Package: woudc-pywoudc
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-pkg-resources, python-owslib
Homepage: https://woudc.org
Description: pywoudc is a high level package providing Pythonic access
 to WOUDC data services.
